.no-decoration {
  text-decoration: none !important;
}

.card {
  border-radius: 20px !important;
  transition: 0.2s;
  color: #000;
  -webkit-box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.52);
  box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.52);
  margin-top: 15px;
}

.card:hover {
  margin-top: -5px;
  transition: 0.2s;
  color: rgba(14, 107, 34, 0.863);
}

.fa-icone-card {
  font-size: 3rem;
  margin-bottom: 15px;
}
