.container-menu {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: rgb(6, 148, 13);
}

.icon {
  color: rgb(255, 251, 251);
  font-weight: bold;
  font-size: 25px;
}

.icon:hover {
  color: rgb(211, 211, 117);
  text-decoration: none;
  height: 40px;
}

.go-back {
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: 999;
}

.go-back a {
  color: black;
  font-size: 35px;
}

@media screen and (max-width: 1200px) {
  .go-back {
    top: 6.5%;
  }
}

@media screen and (max-width: 800px) {
  .go-back {
    top: 6.5%;
  }
}

@media screen and (max-width: 500px) {
  .go-back {
    top: 7%;
  }
}
