body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p,
h3,
th,
td,
span {
  color: #606266;
}

.box-shadow {
  -webkit-box-shadow: 0 8px 6px -3px rgb(124, 124, 124);
  -moz-box-shadow: 0 8px 6px -3px rgb(124, 124, 124);
  box-shadow: 0 8px 6px -3px rgb(124, 124, 124);
}

.invalid {
  border-color: red !important;
}

.text-error {
  color: rgb(195, 5, 5) !important;
  position: absolute;
  z-index: 999;
  margin-top: -30px;
  right: 20px;
  margin-right: 20px;
}

.btn-foto-aluno {
  position: absolute;
  right: 5%;
  top: 5px;
}
